.body-all {
    font-family: 'Varela Round', sans-serif;
    background-color: #ff0000;
    margin: 0px;
    padding: 0px;
}
.Fond {
    text-align: center;
    background-color: #ff0000;
    font-weight: normal;
    font-size: 100px;
    height:200px;
}
.Bgblack {
    background-color: #000000;
    padding-top: 20px;
}
.REINITIALISER{

}
.DEROULANT{
    height: 20px;
    width: 100px;
    margin: -20px -50px;
    position:relative;
    top:50%;
    left:60%;
}
.PLACER{

}