.body-all {
    font-family: 'Varela Round', sans-serif;
    background-color: #ff0000;
    margin: 20px;
    padding: 20px;
}
.Fond {
    text-align: center;
    background-color: #ff0000;
    font-weight: normal;
    font-size: 100px;
    height:200px;
}
.Bgblack {
    background-color: #000000;
    padding-top: 10px;
    text-align: center;
    height: 75px;
}
.liste{
    display: inline-block;
}
.Carte{
    display: inline-block;

}

.prenom{
    text-align: center;
}